@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #004D61;
  --color-primary-light: #1F6B7E;
  --color-primary-dark: #003948;

  --color-secondary: #FF5031;
  --color-secondary-light: #FF7A64;
  --color-secondary-dark: #CC3F26;

  --color-background: #DEE9EA;
  --color-light: #F8F8F8;
  --color-surface: #F5F5F5;
  --color-surface-gray: #606A70;
  --color-error: #D32F2F;
  --color-success: #388E3C;
  --color-warning: #FBC02D;
  --color-border: #E0E0E0;
  --color-text: #000000;
  --color-disabled: #BBBBBB;

  --font-regular: 'Montserrat', Arial, sans-serif;
  --font-medium: 'Montserrat', Arial, sans-serif;
  --font-bold: 'Montserrat', Arial, sans-serif;
}
