@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary: #004D61;
  --color-primary-light: #1F6B7E;
  --color-primary-dark: #003948;

  --color-secondary: #FF5031;
  --color-secondary-light: #FF7A64;
  --color-secondary-dark: #CC3F26;

  --color-background: #DEE9EA;
  --color-light: #F8F8F8;

  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
}